<!DOCTYPE html>

<head>
 <link rel="stylesheet" href="./css/style.css">
</head>

<body>
<h1>ABOUT... HBS</h1>
<h1> {{>header}} {{name}} </h1>
<img class="portrait" src="./img/homeimg.jpg"/><br/>
{{>footer}}


</body>

</html>