<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="./css/style.css">
    
</head>

<body>

    <div class="main-content">
    <!--<h1>DIPESH VIRADIYA <br/> SDE -1 <br/> Amma jon dot com <br/> HBS...</h1>-->
    {{>header}}                      <!--<img src="./img/homeimg.jpg"/><br/>-->
    <p>Use for weather reports...</p>
    <form>
        <input placeholder="Location">
        <button>Fetch weather report...</button>
    </form>
    <p id="p-1"></p>
    <p id="p-2"></p>

    </div>
        {{>footer}}
    <script src="./js/app.js"></script>
</body>

</html>